@font-face {
    font-family: 'Roboto:300';
    src: url('../../public/Roboto-Light.ttf') format('ttf');
}

* {
    font-family: 'Helvetica', 'sans-serif';
    /* font-family: 'Roboto', sans-serif; */
}

.container {
    width : 100%;
    font-size : 12px;
}

.cluster-list {
    display : inline-block;
    color : #58585b;
    vertical-align: top;
    width : 40%;
}

.cluster-list .ul-out {
    width : 100%;
    list-style-type: none;
    margin : 0;
    padding : 0;
    border : 1px solid rgb(230,230,230);
    height : 23em;
    border-radius: 3px;
    overflow: auto;
    display: inline-block;
    /* margin : 1em 0em 0em 0em; */
    /* width : 100%; */
}

.cluster-list .ul-out .li-item {
    border-bottom : 0.5px solid rgb(230,230,230);
}

/* .cluster-list {
    display : inline-block;
    color : #58585b;
    vertical-align: top;
    width : 40%;
}

.cluster-list .ul-out {
    width : 100%;
    list-style-type: none;
    margin : 0;
    padding : 0;
    border : 2px solid rgb(230,230,230);
    height : 23em;
    overflow: auto;
}

.cluster-list .ul-out .li-item {
    border-bottom : 1px solid rgb(230,230,230);
} */

.ipaddress {
    width : 29.5%;
    vertical-align: top;
    display : inline-block;
    text-align: center;
    line-height : 2.7em;
}

.domain-list {
    display : inline-block;
    border-left : 1px solid rgb(230,230,230);
    width : 70%;
}

.domain-list ul {
    margin : 0;
    padding : 0;
    list-style-type: none;
    width : 100%;
}

.domain-list ul li {
    height : 2.7em;
    line-height : 2.7em;
    padding-left : 0em;
    width : 100%;
    cursor: pointer;
    border-bottom : 1px solid rgb(240,240,240);
}

.disabled {
    opacity: 0.5;
}

.search-box {
    display: inline-block;
    margin : 1em 0em 0em 0em;
    width : 100%;
}

.search-submit-box {
    display: inline-block;
    width : 4%;
    margin : 1em 0em 0em 1%;
    border : 1px solid rgb(204,204,204);
    height : 1.5em;
    line-height : 1.5em;
    padding-top: 0.5em;
    padding-left : 1%;
    border-radius: 3px;
}

.search-input {
    width : 100%;
    border : 1px solid rgb(204,204,204);
    border-radius : 3px;
    /* height : 2em; */
    /* line-height : 2em; */
    padding : 1em;
}

/* .search-box {
    display: inline-block;
    margin : 1em 0em 0em 0em;
    width : 93%;
}

.search-submit-box {
    display: inline-block;
    width : 4%;
    margin : 1em 0em 0em 1%;
    border : 1px solid rgb(204,204,204);
    height : 1.5em;
    line-height : 1.5em;
    padding-top: 0.5em;
    padding-left : 1%;
    border-radius: 3px;
}

.search-input {
    width : 100%;
    border : 1px solid rgb(204,204,204);
    border-radius : 3px;
    height : 2em;
    line-height : 2em;
    padding : 0.5em;
} */

/* .cluster-header {
    text-align : center;
    font-size : 1.2em;
    font-weight : bold;
    color : #808080;
} */

.cluster-header {
    /* text-align : center; */
    /* font-size : 1.2em; */
    /* font-weight : bold; */
    color : #808080;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    font-size: 18px;
    white-space: pre;
    /* top: -4px; */
    position: relative;
    /* font-weight: lighter; */
    /* margin-bottom : 0.8em; */
}

.selected {
    background-color : #DBEFF7;
    /* color : #ffffff; */
}

.control-button-panel {
    display: inline-block;
    width : 15%;
    text-align : center;
    vertical-align : middle;
    padding-top : 13em;
    width : 7em;
}
.control-button-panel button {
    width : 80%;
    border-radius : 5px;
    border : none;
    height : 1.5em;
    line-height: 1.5em;
    color : #ffffff;
}

.button-disabled {
    opacity : 0.5;
}

.not-recommended {
    display: none;
}

.recommended {
    float : right;
    font-size : 1.5em;
    margin-right : 0%;
    z-index : -1000;
}

.recommended-t {
    font-size : 1.8em;
    display:inline;
    z-index : -1000;
}

.submit-button {
    background-color : #049fd9;
    margin-top : 1em;
    float: right;
    margin-right : 1em;
    border-radius: 20px;
    color : #f0f0f0;
    border: none;
    padding: 7px 20px;
    cursor: pointer;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #f0f0f0;
}

.svg-icon circle {
  stroke: #f0f0f0;
  stroke-width: 1;
}

.svg-iconr {
  width: 1em;
  height: 1em;
}

.svg-iconr path,
.svg-iconr polygon,
.svg-iconr rect {
  fill: #5092fb;
}

.svg-iconr circle {
  stroke: #5092fb;
  stroke-width: 1;
}

.svg-icont {
  width: 1em;
  height: 1em;
}

.svg-icont path,
.svg-icont polygon,
.svg-icont rect {
  fill: #A9A9A9;
}

.svg-icont circle {
  stroke: #A9A9A9;
  stroke-width: 1;
}

.no-element-found {
    width: 80%;
    text-align: center;
    padding: 20px;
}