.cisco.com/artifactory/api/npm/auth
_auth = YXBpYy11aS1kZXBsb3llcjpBUDRxWnFkcEVpRHFDb2FDN0ZvVkJiaFRGa0JKYjdiUGM5SEhLNA==
always-auth = true
email = noreply@cisco.com
registry=https://engci-maven.cisco.com/artifactory/api/npm/apic-ui-npm
