@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mpsht');
  src:  url('fonts/icomoon.eot?mpsht#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mpsht') format('truetype'),
    url('fonts/icomoon.woff?mpsht') format('woff'),
    url('fonts/icomoon.svg?mpsht#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search2:before {
  content: "\f002";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-loop2:before {
  content: "\ea2e";
}
