.overlay-pane {
    height: 100%;
    width: 350px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    /* overflow-x: hidden; */
    transition: 0.5s;
    box-shadow: 1px 1px 17px 0px;
    border-left: 3px solid #017cad;
    z-index: 150;
}

.bold-font {
    font-weight: bold;
}


.summary-pane-header {
    /* padding: 2%;
    background: white;
    border-bottom: 1px solid rgb(199, 199, 199); */
    height: 55px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
}

.summary-pane-header .summary-pane-title-value {
    line-height: 1.2;
    padding: 10px 16px 10px 0px;
}

.summary-pane-header .summary-pane-title-value .title {
    margin-bottom: 4px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #9e9ea2;
}

.summary-pane-header .summary-pane-title-value .value {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    /* width: 260px; */
    font-size: 1.7rem;
}

.summary-pane-header .header-action-buttons .link {
    margin-left: 10px;
    text-decoration: none;
}

.summary-pane-header .header-action-buttons {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    color: #7f7f86;
}

.summary-pane main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    height: inherit;
    /* height: 100%; */
    padding: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    overscroll-behavior: none;
    -ms-scroll-chaining: none;
    background-color: #fff;
}

.summary-pane main .collapsible-pane{
    margin-bottom: 16px;
}