.cui .dropdown-setting .dropdown__menu:after {
    left: auto !important;
    right: 10px !important;
}

.cui .dropdown-setting .dropdown__menu {
    right: 0px !important;
}

.cui .dropdown-setting .dropdown>.btn:after, .cui .dropdown>a:after {
    content: none;
}

.cui .dropdown-setting .btn.btn--small {
    padding: 0px;
    min-width: 30px;
}

.sub-header {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    font-size: 22px;
    white-space: pre;
    padding-top: 7px;
    position: relative;
    margin-bottom: 0.8em;
}

.app-name {
    color: #58585b;
    padding: 0.3em;
    padding-left: 0.8em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-right: 4em;
}

.dropdown-setting {
    padding: 3px;
    padding-right: 10px;
}

.dark {
    background-color: #f8f8f8;
    color: rgb(242, 242, 242);
}

.light {
    color: #303030;
}

.button {
    border-radius: 15px;
    color: #f0f0f0;
    border: none;
    padding: 2px 10px;
    cursor: pointer;
}

.map-button {
    background-color: #049fd9;
}

.view-button {
    background-color: #049fd9;
}

.view-button-disabled {
    background-color: #a0a0a0;
    color: #f0f0f0;
}

.health {
    border-radius: 15px;
    border: none;
    text-align: center;
    width: 6em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
}

th {
    font-size: 1em;
    font-weight: lighter;
    font-size: 12px;
    padding: 0.4em;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    color: #231F20;
    font-weight: bold;
}

.sortable:hover {
    background-color: rgb(242, 242, 242);
    cursor: pointer;
}

.sortable::after {
    content: '\25BC';
    float: right;
    color: transparent;
}

.sortable:hover::after {
    /* content: '\25BC';
    float : right;
    color : #58585b; */
    background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==) no-repeat center right !important;
}

td {
    margin-left: 2em;
    margin-right: 2em;
}

tr {
    padding: 0px;
}

td {
    margin: 0px;
    padding: 0px;
}

.info-table {
    border: 0px solid #f0f0f0;
}

.toolbar {
    background-color: rgb(223, 223, 223);
    padding: 0.5em;
    text-align: right;
}

.clearfix-new {
    padding-top: 0.6%;
}

.clearfix {
    overflow: visible;
}

.floar {
    float: right;
}

.floal {
    float: left;
}

.button-logout {
    border-radius: 20px;
    margin-top: 0.2em;
    margin-right: 0.5em;
    color: #f0f0f0;
    border: none;
    padding: 7px 30px;
    cursor: pointer;
}

a:link {
    color: #049fd9;
    text-decoration: none;
}

a:visited {
    color: #049fd9;
    text-decoration: none;
}

a:hover {
    color: #049fd9;
    text-decoration: none;
}

a:active {
    color: #049fd9;
    text-decoration: none;
}

.instancetext {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: transparent;
    margin-right: 0.3em;
    padding-top: 9px;
    display: inline-block
}