.close {
  cursor: pointer;
  font-size: 42px;
  margin-top: -10px;
  padding: 0%;
  padding-right: 14px;
  color: #f0f8ff;
  float: right;
}

.tab__heading {
  font-size: 15px;
}

.tab {
  margin: 1px 8px 0px 11px!important;
}

.events-tab a div {
  /* background: #00BCEB!important;
  color: white!important; */
  text-align: left !important;
  width: 100% !important;
}

.panel-header {
  font-size: 2em;
  background-color: #005073;
  color: aliceblue;
  padding: 1% 1%;
}

.page-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #f2f2f2;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.topnav {
  width: 100%;
  overflow: hidden;
  background: #f2f2f2;
  border-bottom: 1px solid rgb(207, 207, 204);
}

.topnav span {
  cursor: pointer;
  float: left;
  color: #6d6a6a;
  text-align: center;
  padding: 0px 16px 7px 10px;
  text-decoration: none;
}

.topnav span:hover {
  background-color: #ddd;
  color: black;
}

.topnav span.active {
  border-bottom: 3px solid #1dc0e9;
  color: #1a768d;
}

.cui ul.tabs>li>a{
  padding: 5px !important
}