.overlay-pane {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    /* overflow-x: hidden; */
    transition: 0.5s;
    box-shadow: 1px 1px 17px 0px;
    border-left: 3px solid #017cad;
}

.bold-font {
    font-weight: bold;
}

/* .overlay-pane td {
    border: 1px solid #dbdada
} */

/* @-moz-document url-prefix() {
    .overlay-pane {
        scrollbar-width: none;
    }
} */

/* .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
} */

/* .overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1em;
} */

/* @media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
} */

.summary-pane-header {
    /* padding: 2%;
    background: white;
    border-bottom: 1px solid rgb(199, 199, 199); */
    height: 55px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
}

.summary-pane-header .summary-pane-title-value {
    line-height: 1.2;
    padding: 10px 16px 10px 0px;
}

.summary-pane-header .summary-pane-title-value .title {
    margin-bottom: 4px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #9e9ea2;
}

.summary-pane-header .summary-pane-title-value .value {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    /* width: 260px; */
    font-size: 1.7rem;
}

.summary-pane-header .header-action-buttons .link {
    margin-left: 10px;
}

.summary-pane-header .header-action-buttons {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    color: #7f7f86;
}

.summary-pane main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    height: inherit;
    /* height: 100%; */
    padding: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    overscroll-behavior: none;
    -ms-scroll-chaining: none;
    background-color: #fff;
}

/* .summary-pane main .collapsible-pane, .summary-pane main .property-list-item:not(:last-child) {
    margin-bottom: 16px;
}

.summary-pane main .property-list-item {
    width: 100%;
}

.property-list-item .property-label {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    color: #9e9ea2;
    margin-bottom: 8px;
}

.property-list-item .property-value {
    all: unset;
    font-size: 1.4rem;
    line-height: 19px;
    display: block;
    overflow-wrap: break-word;
} */



/* 
.overlay-pane::-webkit-scrollbar {
    display: none;
}


.flex-container>div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}

.sub-header {
    font-size: 12px;
    font-weight: 600;
} */