.property-list-item:not(:last-child) {
    margin-bottom: 16px;
}

.property-list-item {
    width: 100%;
}

.property-label {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    color: #9e9ea2;
    margin-bottom: 8px;
}

.property-value {
    all: unset;
    font-size: 1.5rem;
    line-height: 19px;
    display: block;
    overflow-wrap: break-word;
}